
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
	<div class="span8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
	<div class="span8">
		<h3>Twitter Feed</h3>
		<a class="twitter-timeline"  href="https://twitter.com/Ema1Gamers"  data-widget-id="465662499434418176">Tweets by @Ema1Gamers</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
  </div>  
 
  
<% else %>

<div class="center hero-unit">

<h1>Gamers Market</h1>
<h2>A place to trade, sell, and buy games.  You can also upload images, make friends, and make posts about games</h2>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>