<%= form_for @gamepost, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    Game Form </br>
	Game, Platform, Year </br>
    <%= f.text_area :content, placeholder: "Compose new game sale..." %>
	<%= f.fields_for :gamepics do |g| %> 
     <div class="field">
       <%= g.label :Game Pictures %><br> 
       <%= g.file_field :gamepic, :multiple => true, name: "gamepics[gamepic][]" %> 
     </div>
   <% end %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>