<%= form_for @gamepic, html: {multipart: true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :gallery_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :gamepic %>
  </p>
  <p><%= f.submit "Save Image", class: "btn btn-primary" %>
<% end %>



