
<h1>Update your avatar</h1>

<div class="row">
  <div class="span6 offset3">
	<h2>Update Avatar</h2>
	<%= form_for current_user, :html => {:multipart => true} do |f| %>
	<%= render 'shared/error_messages', object: f.object %> 
      <%= f.label :Avatar %> 
      <%= f.file_field :avatar %>
	  
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>	