
<% provide(:title, @gallery.name) %>

<div id="gamepics">
<p> test 1 </p>

</div>

    <div id="gallery">
      <div id="innerPictureFrame">
        <% @gallery.gamepics.each do |gamepic| %>
          <div class="gamepic">
              <%= image_tag(gallery.gamepic_url.thumb.to_s, :size => '200x200') %>
			  <div class="name"><%= gamepic.name %></div>
              <div class="actions">
                <%= link_to "edit", edit_gamepic_path(gamepic) %> |
                <%= link_to "remove", gamepic, :confirm => 'Are you sure?', :method => :delete %>
              </div>
		  </div>
     
       <% end %>
  <div class="clear"></div>



<p>
  <%= link_to "Add a gamepic", new_gamepic_path(:gallery_id => @gallery) %> |
  <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>